.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin: 100px 20px 20px 400px;
}
.row{
    flex: 1;
    display: flex;
}
.cell{
    flex: 1;
    border: 1px solid grey;
} 
button{
    margin-left: 650px;
    margin-top: 50px
}
